.container_stripe{
    text-align: center;
    font-family: "Outfit", serif;
    background-color: #A3D1B3;
    border-bottom: 2px solid #242940;
    font-size: 1.2rem;
    padding: 1vh 0;
}
.stripe-message{
    text-transform: uppercase;
}