.footer-section__image {
  max-width: 300px;
  min-width: 70px;
  margin: auto;
}
.footer-section__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-section__navbar{
    display: flex;
    justify-content: center;
}
.footer-section__navbar > nav > a {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 15px;
    cursor: pointer;
}
