
.card{
    width: 18rem;
    border: 1px solid #000;
    border-radius: 10px;
    padding: .5rem;
    background-color: #F8F1E8 ;
}
.card-img-top{
    width: 100%;
    object-fit: cover;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Outfit, sans-serif;
}
.btn-primary{
    max-width: 80%;
    color: #c1fba4;
    background-color: #242940;
    border-radius: 60px;
    padding: 10px 15px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}