.main-banner{
    /* display: flex;
    justify-content: center;
    border: solid 1px #242940; */
    width: 100%;
    height: 100vh; /* Ajusta según necesidad */
    background-image: url('/img/boxes.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #242940;
}

.main-banner__title{
    color: #fff;
    font-size: 7.5rem;
    font-family: "Paytone One", serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 2rem;
    line-height: 100%;
}

.main-banner__btn-action {
    color: #242940;
    text-align: center;
    text-transform: uppercase;
    background-color: #3898ec00;
    border: 2px solid #242940;
    border-radius: 27px;
    min-width: 215px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1rem;
    transition: background-color .5s;
    cursor: pointer;
}

.main-banner__btn-action:hover {
    background: white;
    color: black;
}