.dark-section__container{
    display: flex;
    background-color: #242940;
    border-radius: 56px;
    margin-bottom: 5vh;
    padding: 3vh 2vh 3vh 10vh;
    color: #C1FBA4;
    text-align: center;
}
.dark-section__wrapper > a {
    text-align: center;
    text-transform: uppercase;
    background-color: #3898ec00;
    border: 2px solid #C1FBA4;
    border-radius: 27px;
    min-width: 209px;
    /* padding-top: 12px;
    padding-bottom: 12px; */
    padding: 12px;
    font-size: 1rem;
    transition: background-color .5s;
    margin-top: 10vh;
}
.dark-section__text{
    margin-bottom: 5vh;
}
.dark-section__text > h2 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2vh;
    font-family: Paytone One, sans-serif;
    font-size: 5.6rem;
    font-weight: 400;
    line-height: 100%;
}
.dark-section__text > p {
    margin: 2vh 0;
    font-family: Outfit, sans-serif;
    font-size: 1.2rem;
    line-height: 120%;
}
.dark-section__image > img{
    width: 100%;
    border-radius: 56px;
}